@import "tailwindcss";

* {
  font-family: "Roboto Condensed", sans-serif;
}

@theme {
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  --animate-logo-spin: 10s linear infinite logo-spin;
}
