@import "tailwindcss";

@theme {
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  --color-\*: initial; /* tw v4 adds A LOT of default colors to a theme */
  --font-roboto-condensed: "Roboto Condensed", sans-serif;
  --animate-logo-spin: 15s linear infinite logo-spin;
}
