/** biome-ignore-all lint/suspicious/noUnknownAtRules: tailwind */

@import "tailwindcss";

@theme {
  --foreground: #daf7dc;
  --background: #2f4858;

  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --font-roboto-condensed: "Roboto Condensed", sans-serif;
}
