name: checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "yarn"
      - run: yarn install
      - run: |
          yarn typecheck
          yarn tidy:ci
          yarn test --run --bail=1 --reporter=default
          yarn test:integration --run --bail=1 --reporter=default
          yarn test:e2e --run --bail=1 --reporter=default
